<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="{{ resource_url('css/all.css') }}">

    <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>

<div class="app">
  <div class="header">
    <div class="logo">
      <img src="/src/Resources/public/img/logo.svg" alt="">
    </div>
    <ul class="menu">
      <li class="active">
        <a href="#">
            Home
          </a>
      </li>
      <li>
        <a href="#">
            Projects
          </a>
      </li>
    </ul>
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </div>
</div>

</body>
</html>